[submodule "colcon_ws/src/moveit2"]
	path = colcon_ws/src/moveit2
	url = https://github.com/moveit/moveit2.git
	branch = iron
[submodule "overlay_ws/src/ros2_kortex_vision"]
	path = overlay_ws/src/ros2_kortex_vision
	url = https://github.com/PickNikRobotics/ros2_kortex_vision.git
[submodule "colcon_ws/src/moveit_task_constructor"]
	path = colcon_ws/src/moveit_task_constructor
	url = https://github.com/moveit/moveit_task_constructor.git
	branch = iron
